# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out
build

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
README.md
LICENSE
.prettierrc
.eslintrc.json
